{% extends 'base.html.twig' %}

{% block title %}KesKonMat
{% endblock %}

{% block body %}
	<main>
		<h1 class="text-center m-4">KesKonMat</h1>
		<section>
			<h2 class="text-center m-4">Films</h2>
		</section>
		<section>
			<h2 class="text-center m-4">Séries</h2>
		</section>
	</main>
{% endblock %}
