{% extends 'base.html.twig' %}

{% block title %}KesKonMat
{% endblock %}

{% block body %}
	<main>
		<h1 class="text-center my-5">KesKonMat</h1>
		<section>
			<h2 class="text-center m-4">Films</h2>
			<h3 class="text-center">Trois films aléatoires</h3>
			<h3 class="text-center">Trois derniers films ajoutés</h3>
			<h3 class="text-center">Trois films qui durent moins de 2 heures</h3>
		</section>
		<section>
			<h2 class="text-center m-4">Séries</h2>
			<h3 class="text-center">Trois séries aléatoires</h3>
			<h3 class="text-center">Trois dernières séries ajoutés</h3>
		</section>
		<section>
			<h2 class="text-center m-4">Catégories</h2>
			<h3 class="text-center">Trois catégories aléatoires</h3>
		</section>
	</main>
{% endblock %}
